.container{
    width: 100%;
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-evenly;
    gap:2rem;
    position: relative;
    overflow: hidden;
}
.advantages_list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 3.2rem;
    transition: all 0.5s ease-in-out;
}
.advantage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 22rem;
    height: 5.9rem;
    border-radius: 1rem;
    background-color: #fff;
}
.icon{
    width: 3.2rem;
    height: 3.2rem;
}
.title{
    font-size: 1.6rem;
}


@media (max-width: 1200px) {
  .title{
    font-size: 1.4rem;
  }
}