

.company_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 20rem;
    height: 5.9rem;
    border-radius: 1rem;
    background-color: #fff;

}
.img{
    width: 4rem;
    height: 4rem;
}
