.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background-color: transparent;

}

.show__profileActions {
    display: flex;
}